---
layout: layouts/base.njk
title: 30-Day C++ Sprint
eleventyExcludeFromCollections: true
---

{% include "components/hero.njk" %}

{% include "components/mission-brief.njk" %}

{% include "components/goals.njk" %}

{% include "components/architecture.njk" %}

{% include "components/pid-integration.njk" %}

{% include "components/curriculum-table.njk" %}

{% include "components/curriculum-cards.njk" %}

{% include "components/review-process.njk" %}

{% include "components/footer.njk" %}